
<!DOCTYPE HTML>
<html>
  <head>

  </head>

  <body>
    <h1>Create a Puppy!</h2>

    <form action="/puppy" method="post">
      <p>Name: <input type="text" name="name"></p>
      <p>Age: <input type="integer" name="age"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <input type="submit" name="submit" id="submit">
    </form>

  </body>


</html>
