<!DOCTYPE HTML>
<html>
  <head>

  </head>


  <body>
    <h1>Welcome to Puppies!</h2>
    <p><a href="/new">"Click Here To List A Puppy"</a></p>

    <h1>PUPPY</h1>
    <p>Puppy Name: <%=@name%></p>
    <p>Puppy Breed: <%=@breed%></p>
    <p>Puppy Age: <%=@age%></p>
  </body>


</html>
