
<!-- visit '/'
expect(page).to have_link("Click Here To List A Puppy") -->



<!DOCTYPE HTML>
<html>
  <head>

  </head>


  <body>
    <h1>Welcome to Puppies!</h2>
    <p><a href="/new">"Click Here To List A Puppy"</a></p>
  </body>


</html>
